@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
}

main {
  background-color: wheat;
  border: black 3px solid;
  width: 90%;
  margin:  30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 5px white;
}

main section {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  background-color: rgb(119, 119, 111);
  border-radius: 10px;
  border: 3px solid black;
  width: 90%;
  box-shadow: 0 0 5px white;
}

main section h1 {
  font-size: 2rem;
  padding: 1em;
  font-family: "DM Sans", sans-serif;
  color: lightgoldenrodyellow
}

.badge {
  width: fit-content;
  padding: .5em 1em;
  font-size: 1.2rem;
  margin-top: 5px;
}

.pilled {
  border-radius: 20px;
}

.squared {
  border-radius: 3px;
}